@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  display: block;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  width: 100%;
  min-height: 120px;
  min-width: 360px;
  background: linear-gradient(
    90deg,
    rgba(22, 2, 32, 1) 17%,
    rgba(183, 33, 255, 1) 100%,
    rgba(236, 33, 253, 1) 100%
  );
}
@media (max-width: 600px) {
    .navbar {
        display: block;
    }
}
.currentTime {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  color: white;
  font-size: 24px;
  font-family: "Mochiy Pop P One", sans-serif;
}
@media (max-width: 600px) {
  .currentTime {
      padding-left: 0;
  }
}
.searchCity {
  display: flex;
  align-items: center;
}
#cityName {
  height: 40px;
  margin-right: 10px;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Mochiy Pop P One", sans-serif;
}
@media (max-width: 600px) {
  .searchCity {
    flex-direction: column;
  }
  #cityName {
    height: 30px;
    margin: 5px 0 5px 0;
  }
}
.btnSearch {
  z-index: 1;
  position: relative;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Mochiy Pop P One", sans-serif;
  color: white;
  background-color: hsl(236, 32%, 26%);
}
.btnSearch::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #c56baa;
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
}
.btnSearch:hover {
  cursor: pointer;
}
.btnSearch:hover::before {
  transform-origin: center top;
  transform: scaleY(1);
}
.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 400px;
  min-width: 360px;
  min-height: 450px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background: rgba( 176, 210, 202, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 20px;
}
@media (max-width: 600px) {
  .active {
      width: 350px;
  }
}
.currentCityWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  min-width: 360px;
  min-height: 450px;
  background: linear-gradient(
    0deg,
    rgba(166, 34, 195, 1) 0%,
    rgba(21, 1, 34, 1) 74%
  );
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 20px;
}
.cityName {
  color: white;
  font-size: 24px;
}
.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 46px;
}
.weather {
  padding: 15px;
  color: white;
  font-size: 24px;
}
.windPressure {
  display: flex;
  flex-direction: row;
}
.pressure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: white;
  font-size: 16px;
}
.wind {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: white;
  font-size: 16px;
}
.title{
  color: white;
}
